@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7283a0;
}

.full-center {
  width: 100%;
  text-align: center;
}

.full {
  width: 1240px;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.4rem;
}

.field-group {
  margin-top: 2rem;
  width: 100%;
}

.smt-btn {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0;
}

.form {
  width: 1440;
}
